{% load static %}

<!-- Required Js -->
<!-- Required Js -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'assets/js/dark-mode.js' %}"></script>
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.formset.js' %}"></script>



<!-- Carga de DataTables Buttons CSS -->

<!-- Carga de DataTables Buttons JS -->
<script src="{% static 'assets/js/pages/styledatatables/Buttons-2.4.1/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/pages/styledatatables/Buttons-2.4.1/js/buttons.bootstrap4.min.js' %}"></script>

<script src="{% static 'assets/js/pages/styledatatables/Buttons-2.4.1/js/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/pages/styledatatables/Buttons-2.4.1/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/pages/styledatatables/Buttons-2.4.1/js/buttons.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/pages/styledatatables/Buttons-2.4.1/js/buttons.bootstrap4.min.js' %}"></script>