{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block content %}

<div class="auth-wrapper">
  <div class="auth-content">
    <div class="">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <form class="card-body text-center">

        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
        <h3 class="mb-4">Restablecimiento de contraseña hecho</h3>

        <div class="input-group mb-3">
          Se ha enviado un correo electrónico a su dirección de correo electrónico. Haga clic en el enlace y restablezca
          su contraseña.
        </div>
        <p class="mb-0 text-muted">¿No tienes una cuenta?<a href="{% url 'register' %}"
            style="color: #21734F;">Registrarse</a></p>
      </form>
    </div>
  </div>
</div>

<label class="d-none">
  <i class="icon feather icon-sun" id="theme-indicator"></i>
  <input type="checkbox" id="theme-switch" class="d-none">
</label>

{% endblock content %}