{% extends 'layouts/base-auth.html' %}
{% load static %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-content">
        <div class="">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card">
            <form method="post" class="card-body text-center">
                {% csrf_token %}

                <div class="mb-4">
                    <i class="auth-icon">
                        <img src="{% static 'assets/images/SURGYicongreen.ico' %}" alt="Logo" style="max-width: 16%; ">
                    </i>
                </div>
                <h3 class="mb-4">Registro</h3>
                {% for field in form %}
                <div class="input-group mb-3">
                    {{ field }}
                </div>
                <span class="text-danger d-block text-left">{{ field.errors }}</span>
                {% endfor %}
                <div class="form-group text-left mt-4">
                    <div class="checkbox checkbox-fill d-inline">
                        <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-1" checked="">
                        <label for="checkbox-fill-1" class="cr">Guardar detalles</label>
                    </div>
                </div>
                <div class="form-group text-left">
                    <div class="checkbox checkbox-fill d-inline">
                        <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary shadow-2 mb-4" style="background-color: #21734F;">
                    Registrarse</button>
                <p class="mb-0 text-muted">¿Ya tienes una cuenta?<a href="{% url 'login' %}" style="color: #21734F;">
                        Acceso</a></p>
            </form>
        </div>
    </div>
</div>


<label class="d-none">
    <i class="icon feather icon-sun" id="theme-indicator"></i>
    <input type="checkbox" id="theme-switch" class="d-none">
</label>
<script>
    window.onload = function() {
        var userType = document.querySelector("select[name='user_type']");
        var medico = document.querySelector("select[name='medico']");
        // Crea un elemento 'label'
        var medicoLabel = document.createElement("label");
        medicoLabel.setAttribute("class", "form-label");  // Agrega la clase 'form-label' de Bootstrap
        // Añade el texto a la etiqueta
        medicoLabel.innerHTML = "Seleccione el médico con el que está asociado";
        // Añade la etiqueta antes del campo 'medico'
        medico.parentNode.insertBefore(medicoLabel, medico);
        // Oculta el campo 'medico' y su etiqueta cuando se carga la página
        if (userType.value == 'medico') {
            medico.style.display = 'none';
            medicoLabel.style.display = 'none';
        }
        userType.onchange = function() {
            if (userType.value == 'medico') {
                medico.style.display = 'none';
                medicoLabel.style.display = 'none';
            } else {
                medico.style.display = 'block';  // Cambia 'block' a 'block'
                medicoLabel.style.display = 'block';  // Cambia 'block' a 'block'
            }
        }
    }
    
    
    </script>
    

{% endblock content %}