{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}
<!-- Carga de jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- [ Main Content ] start -->
<div class="row">
  <div class="col-md-12">
    <div class="card welcome-card">
      <div class="card-body">
        <h1 class="mb-4">Bienvenido al Sistema Médico</h1>
        <p class="lead">Gestione sus pacientes, registros médicos y más de manera eficiente.</p>
      </div>
    </div>
  </div>
  
  <!--[ Recent doctors ] start-->
  <div class="col-xl-12 col-md-6">
    <div class="card Recent-Users">
      <div class="card-header">
        <h5>Usuarios recientes en el Sistema</h5>
      </div>
      <div class="card-block px-0 py-3">
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              {% for user in users %}
              <tr class="unread">
                <td><img class="rounded-circle" style="width:40px;" src="{% static 'assets/images/user/avatar-1.jpg' %}"
                    alt="activity-user"></td>
                <td>
                  <h6 class="mb-1">{{ user.username }}</h6>
                  <p class="m-0">{{ user.email }}</p>
                </td>
                <td>
                  <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{ user.last_login }}
                  </h6>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- [ Main Content ] end -->

{% endblock content %}